@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@600&display=swap");

/**********************************************/
/*********** Variables declaration ************/
/**********************************************/

:root {
  --container-size: 33vw;
}

/**********************************************/
/******** Basic Setting & Resetting ***********/
/**********************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: black;
  list-style: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 90px;
}

body {
  background-color: #f3f3f3;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
}

/**********************************************/
/************* Utility Classes ****************/
/**********************************************/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.rounded-full {
  border-radius: 100%;
}

.fixed {
  position: fixed;
}

.drop-shadow {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.gap-sm {
  gap: 0.4rem;
}

.gap-md {
  gap: 0.8rem;
}

.gap-base {
  gap: 1.2rem;
}

.gap-lg {
  gap: 1.6rem;
}

.gap-xl {
  gap: 2rem;
}

.gap-2xl {
  gap: 2.4rem;
}

.z-max {
  z-index: 9999;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #eea302;
  border-radius: 100%;
}

.separator {
  border-right: 1px solid black;
}

.ruler {
  border-bottom: 1px solid #c7c7c7;
  margin: 40px;
}

.internal-ruler {
  border-bottom: 1px solid #dad8d8;
  margin: 40px 90px;
}

/**********************************************/
/************** CTA button ********************/
/**********************************************/

.cta {
  padding: 0.7rem 2.4rem;
  border-radius: 20px;
  background-color: #116dff;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
.cta:hover {
  background-color: #0a5bff;
}

/**********************************************/
/**************** Navbar **********************/
/**********************************************/

.navbar {
  height: 70px;
  padding: 0 4rem;
  background-color: #fff;
}

.nav__logo {
  font-family: "work sans";
  font-weight: 500;
  font-size: 1.4rem;
}

.nav__logo > a {
  margin-top: 2px;
}

.nav__links ul a:hover {
  color: #116dff;
}

/**********************************************/
/************* Hero Section *******************/
/**********************************************/

#hero img,
#hero article {
  width: var(--container-size);
}

#hero article > h1 {
  font-size: 6.25rem;
  font-family: "work sans", Roboto, sans-serif;
  font-weight: 500;
  margin-left: -10px;
}

#hero article > div > h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

#hero article > div > p {
  font-weight: 300;
  line-height: 1.3rem;
  letter-spacing: 1.2;
}

#hero article > .cta {
  width: 10rem;
}

/**********************************************/
/************* Resume Section *****************/
/**********************************************/

#resume > h1 ,
#projects > h1 ,
#contact-me h1 {
  font-size: 3rem;
  padding-left: 8rem;
}

.title,
.desc {
  width: calc(var(--container-size) * 1.4);
}

.title {
  font-size: 2rem;
  padding-left: 100px;
}

.skills > ul  li {
  list-style-type: circle;
  font-size: 1.2rem;
  font-weight: bold;
}

/**********************************************/
/************* Projects Section *****************/
/**********************************************/

{
  font-size: 3rem;
  padding-left: 8rem;
}

.project-child > img{
  width: 400px;
  margin: 20px 50px;
}


/**********************************************/
/************* Contact-Me Section *****************/
/**********************************************/

#contact-me .title{
  font-size: 1rem;
}

#contact-me input{
  border:1px solid black;
  background-color: #f3f3f3;
}


/**********************************************/
/************* Footer Section *****************/
/**********************************************/

footer {
  padding: 2rem 4rem;
  background-color: #fff;
}

.linkedin-logo {
  width: 25px;
}
