@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@600&display=swap");

/**********************************************/
/*********** Variables declaration ************/
/**********************************************/

:root {
  --container-size: 33vw;
}

/**********************************************/
/******** Basic Setting & Resetting ***********/
/**********************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: black;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f3f3f3;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p{
  font-size: 1rem;
}

/**********************************************/
/************* Utility Classes ****************/
/**********************************************/

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.rounded-full {
  border-radius: 100%;
}

.fixed{
  position: fixed;
}

.drop-shadow {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.gap-sm {
  gap: 0.4rem;
}

.gap-md {
  gap: 0.8rem;
}

.gap-base {
  gap: 1.2rem;
}

.gap-lg {
  gap: 1.6rem;
}

.gap-xl {
  gap: 2.0rem;
}

.gap-2xl {
  gap: 2.4rem;
}

.z-max {
  z-index: 9999;
}

.h-screen {
  height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #eea302;
  border-radius: 100%;
}

.separator {
  border-right: 1px solid black;
}

/**********************************************/
/************** CTA button ********************/
/**********************************************/

.cta {
  padding: 0.7rem 2.4rem;
  border-radius: 20px;
  background-color: #116DFF;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
.cta:hover {
  background-color: #0A5BFF;
}

/**********************************************/
/**************** Navbar **********************/
/**********************************************/

.navbar {
  height: 70px;
  padding: 0 4rem;
  background-color: #fff;
}

.nav__logo {
  font-family: 'work sans';
  font-weight: 500;
  font-size: 1.4rem;
}

.nav__logo > a {
  margin-top: 2px;
}

.nav__links ul a:hover {
  color: #116DFF;
}

/**********************************************/
/************* Hero Section *******************/
/**********************************************/

#hero img,
#hero article {
  width: var(--container-size);
}

#hero article > h1 {
  font-size: 6.25rem;
  font-family: "work sans", Roboto, sans-serif;
  font-weight: 500;
}

#hero article > div > h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

#hero article > div > p {
  font-weight: 300;
  line-height: 1.3rem;
  letter-spacing: 1.2;
}

/**********************************************/
/************* Footer Section *****************/
/**********************************************/

footer {
  padding: 2rem 4rem;
  background-color: #fff;
}

.linkedin-logo {
  width: 25px;
}